<div
  class="back-lg"
  ngClass.xs="back-xs"
  ngClass.sm="back-md"
  fxLayout="row"
  fxLayoutAlign="space-between center"
></div>

<div>
  <div class="title">
    <h1>{{ 'gallery.title' | translate }}</h1>
  </div>
  <mat-tab-group
    mat-align-tabs="center"
    (selectedTabChange)="loadTabImages($event)"
  >
    <div *ngFor="let tab of categories; let index = index">
      <mat-tab *ngIf="tab.title !== 'Sin clasificar'" [label]="tab.title">
        <ng-template matTabContent>
          <mat-grid-list [cols]="gridColsNum" rowHeight="1:1">
            <mat-grid-tile *ngFor="let photo of tab.photos">
              <img src="data:image/png;base64,{{ photo.base64 }}" />
            </mat-grid-tile>
          </mat-grid-list>
        </ng-template>
      </mat-tab>
    </div>
  </mat-tab-group>
</div>
